<div class="container">
  <div class="row">

    <!-- About me -->
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>About me</h2>
        <img src="..\..\assets\photos\benjamin azman.jpg" alt="profile picture" width="256" height="256" class="rounded-circle">
        <!-- <div class="overlay">
          <div class="description">
            Age: 24
            Languages: Bosnian, English, German
            Profesion: BoEE
          </div>
        </div> -->
        <p class="about">As a kid I have always been interested in informatics and, as a kid in elementary school, I have attended various programming courses. As a teenager i used to train basketball, when I became older I started interesting myself into basketball coaching. Since July 2019 i have FIBA license for Table Official Business. Ever since my programming teachers saw the potential in me, I have become more and more interested. A have also attended the IT Academy for two years during my high school. When I finished the high school with the excellent success, I got in the most prestigious faculty in the country, Faculty of Electrical Engineering, department of Computer Science and Informatics where I plan to finish my bachelors degree.</p>
      </div>
    </div>

    <!-- Featured projects -->
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>Featured projects</h2>
      </div>
    </div>
  </div>
</div>
