<div class="container">
  <div class="text-center border mb-5 shadow rounded">
    <h1>Contact</h1>
    <p>I can be reached at the following email: <b>benjamin.azman3@gmail.com</b></p>
    <p>Feel free to connect with me on any of the following platforms:</p>
  </div>

  <!-- <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form (ngSubmit)="submitForm()" #contactForm="ngForm">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" ngModel required>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" ngModel required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" ngModel required>
          </div>
          <div class="form-group">
            <label for="timezone">Time Zone</label>
            <input type="text" class="form-control" id="timezone" name="timezone" ngModel required>
          </div>
          <div class="form-group">
            <label for="message">How can I help you?</label>
            <textarea class="form-control" id="message" name="message" rows="3" placeholder="Enter your message here"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div> -->


  <div class="list-group shadow">
    <a
      href="https://www.linkedin.com/in/benjaminazman/"
      target="_blank"
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
    >
      <img
        src="../../assets/photos/linkedin.png"
        width="32"
        height="32"
        class="rounded-circle flex-shrink-0 me-5"
      />
      <h3 class="mb-0">LinkedIn</h3>
    </a>
    <a
      href="https://github.com/bazman11"
      target="_blank"
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
    >
      <img
        src="../../assets/photos/github.png"
        width="32"
        height="32"
        class="rounded-circle flex-shrink-0 me-5"
      />
      <h3 class="mb-0">Github</h3>
    </a>
  </div>
</div>
